/**BOTONES**/
.boton{
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 18px;
    padding: 1rem 3rem;
    display: inline-block;
    text-align: center;
    background-color: var(--rosaPrimario);
    margin: 20px;
    border: none;
    transition: .2s;
    cursor: pointer;
   

}

.boton:hover{
    background-color: #B14449;
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.4);
}
