/* Este archivo es el que va a contener a todos los demas CSS
, el link es hacia este archivo*/

@import url("normalize.css");
@import url("variables.css");
@import url("globales.css");
@import url("utilidades.css");
@import url("botones.css");
/* @import url("layouts/header.css"); */
@import url("layouts/indexStyle.css");
@import url("layouts/loginStyle.css");
@import url("layouts/ciudadStyle.css");
@import url("layouts/pasajesStyle.css");
@import url("/components/filtroViaje/filtroViaje.css")
/* @import url("layouts/reservaStyle.css"); */
/* @import url("/components/footer/footer.css"); */



