/* Boleto */

.resultado-pasaje {
    display: grid;
    grid-template-columns: 30% 20% 20% 30%;
    grid-template-rows: 80% auto;
    height: 200px;
    width: 100%;
    border: solid 1px #00000071;
    border-radius: 10px;
    align-items: center;
    justify-items: center;
    margin: 20px;
    box-shadow: 2px 8px 4px 0px rgba(0, 0, 0, 0.5);
  }
  

.resultado-pasaje img{
    max-width: 80%;
    max-height: 100%;
}
.horario{
    font-size: 24px;
}
.precio-negrita{
    font-weight: bold;
    font-size: 24px;
}



.precio{
display: flex;
align-items: center;
margin: 0 auto;
}


.dia-salida,.dia-llegada{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fecha-salida,.fecha-llegada{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.libre{
display: flex;
justify-content: space-between;
align-items: center;
height: 100%;
background-color: #24262b;
color: white;
} 
.libre .cantidad{
    background-color: var(--rosaPrimario);
    padding: 5px;
    border-radius: 10px;
    margin-right: 60px;
}

.boton-comprar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    background-color: var(--rosaPrimario);
    font-family: var(--fuentePrincipal);
    font-weight: bold;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}
.boton-comprar:hover{
    background-color: #b14449d0;
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.2);
}
.libre,.boton-comprar,.tipo-vehiculo,.recorrido{
width: 100%;

}
.recorrido{
height: 100%; 
display: flex;
align-items: center; 
background-color: #24262b;
color: white;
}
.tipo-vehiculo{
    height: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #24262b;
    color: white;
}
.border-superior{
    border-top: solid 1px  #00000071;
}