/* ESTILOS GLOBALES*/

html{
    min-height: 100%;
  }

body {
    font-family: var(--fuentePrincipal);
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: var(--grisClaro);

}

::-webkit-scrollbar {
    display: none;
}
a{
    text-decoration: none;
}

/* img{
    max-width: 100%;
} */
