/* ESTILOS GLOBALES*/

html{
    min-height: 100%;
  }

body {
    font-family: var(--fuentePrincipal);
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: var(--grisClaro);

}

::-webkit-scrollbar {
    display: none;
}
a{
    text-decoration: none;
}
label, select, option {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    outline: none;
  }

/* img{
    max-width: 100%;
} */
