<nav>
    <div class="logo-left">
        <img src="../assets/img/logo.png" alt="Logo Avión">
    </div>
    <div class="company-name">
        <h2>ViajeYa!</h2>
    </div>
    <div class="links-center">
        <a href="../">Home</a>
        <a class="misViajes" href="/pages/pasajes.html">Mis Viajes</a>
        <a href="#">Destinos</a>
        <a href="/pages/reserva.html">Reserva</a>
        <a class="misDatos" href="/pages/mis-datos.html">Mis datos</a>
    </div>
    <div class="link-right" id="perfil-usuario">
        <a href="#">Ingresar</a>
    </div>
    <div class="logo-right">
        <img src="../assets/img/logo-login.png" alt="Logo Empresa">
    </div>
</nav>