<body class="failure__login">
    <main class="failure__main__login">
        <img class="img_logo_atardecer" id="img_logo_atardecer" src="/assets/img/avionNube.jpg" alt="atardecer_login">
        <img class="img_logo_check" id="img_logo" src="/assets/img/close.png" alt="success">
        <div class="login_container">
            <form>
                <h1>ALGO SALIO TERRIBLEMENTE MAL</h1>
                <p>te recomendamos volver a intertarlo C:</p>
            </form>
        </div>
    </main>
</body>