.container {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
}

.container-reserva {
  width: 100%;
  margin: 100px 0px 100px 0px;
  display: flex;
  position: relative;
  flex-direction: column;
}

.container-pasajero-form {
  display: flex;
  width: 68%;
  box-sizing: border-box;
  position: relative;
  justify-content: center;
  flex-direction: column;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

}


.pasajero-form {
  width: 800px;
  border: 2px solid black;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.5);
  margin-bottom: 50px;
  position: relative;
  left: 420px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #24262b;
  color: white;
}

.pasajero-tittle {
  border-bottom: 2px solid black;
  display: flex;
  align-items: center;
  height: 75px;
  background-color: var(--rosaPrimario);
  position: relative;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  cursor: pointer;

}

#arrow {
  position: absolute;
  right: 0;
}

#arrow:hover {
  transform: ease 9s;
}

.pasajero-tittle img {
  margin-left: 10px;
  margin-right: 10px;
  width: 50px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  align-items: center;
  margin: 20px;
}

.grid div {
  margin: 10px;
}



.grid2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-items: center;
  align-items: center;
  height: 100px;
}

.flex {
  display: flex;
  justify-content: center;
}



.Buscador {
  background-size: 24px;
  width: 300px;
  border: transparent;
  padding: 10px 10px 10px 30px;
  outline: none;
  background-color: white;
  color: black;
  box-shadow: 0px 0px 3px black;
  height: 40px;
  border: 2px solid black;
  border-radius: 0.5rem;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 20px;

}

/* Dropdown-date */



#daySelect {
  width: 100px;
  background-color: white;
  border: 2px solid black;
  color: black;
  margin-top: 10px;
  height: 40px;
  border-radius: 0.5rem;
  padding-left: 1rem;
}

#monthSelect {
  width: 200px;
  background-color: white;
  border: 2px solid black;
  color: black;
  margin-top: 28px;
  height: 40px;
  border-radius: 0.5rem;
  padding-left: 1rem;
}

#yearSelect {
  width: 100px;
  background-color: white;
  border: 2px solid black;
  color: black;
  margin-top: 28px;
  height: 40px;
  border-radius: 0.5rem;
  padding-left: 1rem;
}

/* toggle dropdown */

.container-data-pasajero-form {
  display: none;
}

.container-data-pasajero-form2 {
  display: none;
}

.container-data-pasajero-form.show-content {
  display: block;
}

.container-data-pasajero-form2.show-content {
  display: block;
}

/* Reserva Details */

.reserva-details {
  position: relative;
  width: 100%;
  box-sizing: border-box;


}

.container-reserva-details {
  position: absolute;
  right: 200px;
  width: 400px;
  border: 3px solid var(--rosaPrimario);
  height: auto;
  background-color: #24262b;
  border-radius: 20px;
  box-shadow: 10px 10px 20px black;
}

.reserva-details p {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.viaje-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid white;
}

.viaje-tittle {
  text-align: center;
  font-size: large;
  margin-bottom: 5px;
}

.origen,
.destino {
  left: 12%;
  color: white;
}

.horarios,
.precio,
.transporte {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;

}

.horarios,
.transporte {
  border-bottom: 2px solid white;

}


.precio div {
  width: 100px;
  color: white;
}

.salida,
.llegada,
.empresa,
.tipo-transporte {
  display: flex;
  flex-direction: column;
  width: 100px;
  margin-bottom: 10px;
  color: white;

}

.tittle {
  border-bottom: 1px solid white;
  color: var(--rosaPrimario);
}

.totalprice,
.hora {
  font-size: 25px;
  color: white;
}

.button-reserva {
  display: flex;
  justify-content: center;
}

.boton {
  width: 180px;
}

.footer {
  margin-top: 130px;
}

.boton-pasajeros {
  width: 800px;
  position: relative;
  left: 420px;
}

.pasajeros-cant {
  text-align: center;
  font-weight: bold;
  color: black;
}

#search_cantidad_pasajeros {
  margin-top: 0;
  height: 50px;
}

.boton_search {
  height: 50px;
}

.asiento {
  color: white;
}