.success__login {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #938282;
}

.success__main__login {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 500px;
    background-color: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.img_logo_atardecer {
    width: 100%;
    height: 40%;
    object-fit: cover;
    position: absolute;
    bottom: 60%;
}

.img_logo_check{
    position: relative;
    top: -50px;
    width: 70px; height: 70px;
    object-fit: cover;
    
}

.login_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    box-sizing: border-box;

}