.reserva-container{ 
  width: 100%;
  position: relative;
}

.reserva{
  margin-top: 70px;
  display: flex;

  justify-content: center;
}

.tittle-paymethod{
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.tittle-paymethod{
  font-weight: bold;
  color: var(--rosaPrimario);
  font-size: 20px;
  
  
}

.tittle-paymethod h1{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #24262b;
}



.container-reserva-pay{
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.container-check-pay-method {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 400px;
  display: inline-block;
  padding-right: 100px;
}

.payment-method {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  justify-content: end;

}

.payment-method input[type="radio"] {
  display: none;
}

.payment-method label {
  margin-left: 10px;
  cursor: pointer;
  width: 450px;
  border-bottom: 2px solid black;
}

.payment-method label:before {
  content: "";
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 1px solid black;
  border-radius: 50%;
  border-color: black;
  background-color: white;
  margin-right: 10px;
  vertical-align: middle;
}

.payment-method input[type="radio"]:checked + label:before {
  background-color: var(--rosaPrimario);
}

.card-data-form-container {
  justify-content: end;
  position: relative;
  width: 900px;
  border: 2px solid black;
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease;
  background-color: #24262b;
  color: var(--rosaPrimario);
  font-weight: bold;
  box-shadow: 10px 10px 20px black;
  margin-right: 100px;
  height: 400px;
}

.pay-method-tittle{
  background-color: salmon;
  display: flex;
  color: white;

}

#pay-method-tittle {
  margin: 10px;
}

.grid-card-form{ 
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
  align-items: center;
  margin:20px;
}


.vencimiento{
  display: flex;
  float: left;
}

#monthSelect{
  margin-right: 10px;
}



.Buscador {
  width: 300px;
  height: 40px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  color: #333;
  font-size: 14px;
  font-weight: 400;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

.Buscador::placeholder {
  color: #999;
}

.Buscador:focus {
  border-color: #ff9900;
  box-shadow: 0 0 5px rgba(255, 153, 0, 0.5);
}
.vencimiento{
  display: flex;
  justify-content: center;
}

#monthSelect {
  width: 150px;
  height: 40px;
  padding: 5px;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  font-size: 14px;
  font-weight: 400;
}

#yearSelect {
  width: 100px;
  height: 40px;
  padding: 5px;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  font-size: 14px;
  font-weight: 400;
}

.reserva-details {
  position: relative;
  width: 400px;
  box-sizing: border-box;
  border-radius: 20px;
  border: 3px solid var(--rosaPrimario);
  box-shadow: 10px 10px 20px black;
  height: auto;  
  background-color: #24262b;
  transition: all ease 0.3s transform;

}

.reserva-details:hover{
  transform: scale(1.02);

}


.reserva-details p{
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.viaje-info{
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid white;
}

.viaje-tittle{
  text-align: center;
  font-size: large;
  margin-bottom: 5px ;
}
.origen, .destino{
  left: 12%;
  color: white;
}

.horarios, .precio, .transporte{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px ;
  
}

.horarios, .transporte{
  border-bottom: 2px solid white;
  
}


.precio div{
  width: 100px;
  color: white;
}

.salida, .llegada, .empresa, .type-transport  {
  display: flex;
  flex-direction: column;
  width: 100px;
  margin-bottom: 10px ;
  color: white;
}

.tittle{
  border-bottom: 1px solid white;
  color: var(--rosaPrimario) ;
}

.totalprice, .hora{
  font-size: 25px;
  color: white;
}

.tipo-transporte {
  color: white;
}

.button-pago{
  display: flex;
  justify-content: center;
}

.boton{
  width: 180px;
}


.footer{
  margin-top: 50px;
}

.boton-pasajeros{
  width: 800px;
  position: relative;
  left: 420px;
}

.pasajeros-cant{
  text-align: center;
  font-weight: bold;
  color: black;
}

#search_cantidad_pasajeros{
  margin-top: 0;
  height: 50px;
}

.boton_search{
  height: 50px;
}

.totalprice{
  background-color: var(--rosaPrimario);
}
