.grid-pasajes{
    display: grid;
    grid-template-columns: 18% auto;
    gap: 80px;
    margin-top: 100px;
    min-height: 73vh;
}
.filtros-busqueda-pasajes{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* FILTRO BUSQUEDA*/


.filtros-busqueda-viajes{
    border: 1px solid black;
    min-height: 500px;
    padding: 20px;
    background-color: var(--rosaPrimario);
}
.filtros-busqueda-viajes input{
    background-color: var(--grisClaro);
    height: 40px;
    min-width: 100%;
    border-radius: 10px;
}
.seleccionar-tipo-viaje{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.filtro-busqueda-viajes-viaje{
margin-bottom: 20px;
}


/* FILTRO DE CHECKBOX*/ 


/* FILTROS DE BUSQUEDA*/

.filtro-empresa,
.filtro-horario-salida,
.filtro-horario-llegada,
.filtro-tipo-transporte,
.filtro-orden{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:flex-start;
    height: 50px;
    margin-bottom: 30px;
    padding: 20px;
}

.grid-pasajes label{
    color: var(--negro);
    font-weight: bold;
    margin-bottom: 3px;
}
.grid-pasajes select{
  border: solid 1px  #00000071;
  padding: 10px;
  border-radius: 5px;
  width: 250px;
  font-size: 13px;
}
