nav {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 45px;
    background-color: rgba(56, 56, 56, 0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: #fff;
    top: 0;
    align-items: center;
    font-size: larger;
  }

  nav a:hover{
    cursor: pointer;
    transition: color .15s ease-in-out;
    text-shadow: 0px 0px 6px sandybrown ;

  }

  .logo-left img,
  .logo-right img {
    height: 50px;
    padding: 6px;
    margin-top: 6px;
  }

  .links-center {
    display: flex;
    justify-content: center;
    flex-grow: 1;
  }

  .links-center a {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
  }

  .link-right a {
    color: #fff;
    text-decoration: none;
  }
