* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body__login {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #938282;
}

.main__login {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 500px;
    background-color: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.img_logo_atardecer {
    width: 100%;
    height: 40%;
    object-fit: cover;
    position: absolute;
    bottom: 60%;
}

.img_logo{
    position: relative;
    top: 15px;
    width: 60px; height: 60px;
    object-fit: cover;
    
}

.login_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    box-sizing: border-box;

}

.search {
    padding: 15px;
    width: 100%;
    margin-bottom: 15px;
    background-color: #f3f3f3;
    border: 1px solid #000;
    color: #615f5f;
}


.botones__login {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: 150px;
}

.botones__login button {
    margin-bottom: 5px;
    width: 72%;
}

.boton_account {
    position: relative;
    left: 150px;
    top: 13px;
    background: none;
    border: none;
    padding: 5px;
    margin-top: 5px;
    color: #302f2f;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    font-size: smaller;
}

.boton_iniciar {
    margin: 15px 0;
    padding: 15px;
    background-color: #E77F84;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    border: 1px #fff solid;
    cursor: pointer;
}

.boton_iniciar:hover {
    background-color: #b14449;
}

.boton_registro{
    display: flex;
    font-family: 'Raleway', sans-serif;
    width: 300px;
    font-size: small;
    color: #302f2f;
    padding: 5px;
    margin-top: 5px;
}

.boton_registro p{
    width: 400px;
}

.boton_registrar{
    font-size: small;
    background: none;
    border: none;
    font-weight: bold;
    margin-left: 5px;
    color: #302f2f;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
}