
.container{
  display: flex;
  flex-direction: column;
}

.container-reserva {
  width: 100%;
  margin: 100px 0px 100px 0px;
  display: flex;
  position: relative;

}

.container-pasajero-form {
  display: flex;
  width: 68%;
  box-sizing: border-box; 
  position: relative;
  justify-content: center;
  flex-direction: column;
  
}


.pasajero-form{
    width: 800px;
    border: 2px solid black;
    box-shadow: 10px 10px 10px black;
    margin-bottom: 50px;
    position: relative;
    left: 420px;
    
}

.pasajero-tittle{
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    height: 75px;
    background-color: #938282;
    position: relative;
}

#arrow{
    position: absolute;
    right: 0;
}

#arrow:hover{
    transform: ease 9s;
}

.pasajero-tittle img{
    margin-left: 10px;
    margin-right: 10px;
    width: 50px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    align-items: center;
    margin:20px;
  }

  .grid div{
    margin: 10px;
  }
  


  .grid2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-items: center;
    align-items: center;
    height: 100px;
  }
  .flex{
  display:flex;
  justify-content: center;
  }



  .Buscador {
    background: url(https://cdn0.iconfinder.com/data/icons/slim-square-icons-basics/100/basics-19-32.png) no-repeat 0px 5px;
    background-size: 24px;
    width: 300px;
    border: transparent;
    border-bottom: solid 1px sandybrown;
    padding: 10px 10px 10px 30px;
    outline: none;
    background-color: white;
    color: black;
    box-shadow: 0px 0px 10px black;
    height: 30px;
    border: 2px solid black;
  }
  
  .search-container{
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 20px;
    
  }

  /* Dropdown-date */
  #daySelect{
    width: 100px;
    background-color: white;
    border: 2px solid black;
  }

  #monthSelect{
    width: 200px;
    background-color: white;
    border: 2px solid black;
  }

  #yearSelect{
    width: 100px;
    background-color: white;
    border: 2px solid black;
  }

  /* toggle dropdown */

  .container-data-pasajero-form {
    display: none;
  }
  
  .container-data-pasajero-form2 {
    display: none;
  }
  .container-data-pasajero-form.show-content {
    display: block;
  }

  .container-data-pasajero-form2.show-content {
    display: block;
  }
/* Reserva Details */
 
.reserva-details {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  
}
.container-reserva-details{
  position: absolute;
  right: 200px;
  width: 400px;
  border: 2px solid gray;
  height: auto;
  
}

.reserva-details p{
  margin-top: 10px;
  margin-bottom: 10px;
}

.viaje{
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid gray;
}

.viaje-tittle{
  text-align: center;
  font-size: large;
  margin-bottom: 5px ;
}
.origen, .destino{
  left: 12%;
  margin-left: 49px;
}

.horarios, .precio, .transporte{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px ;
  
}

.horarios, .transporte{
  border-bottom: 2px solid gray;
}


.precio div{
  width: 100px;
}

.salida, .llegada, .empresa, .clase {
  display: flex;
  flex-direction: column;
  width: 100px;
  margin-bottom: 10px ;
  
}

.tittle{
  border-bottom: 1px solid black;
  color: var(--rosaPrimario) ;
}

.totalprice, .hora{
  font-size: 25px;
}

