<link rel="stylesheet" href="/components/filtroViaje/filtroViaje.css">

<div class="hero-search">
    <div class="viaje" id="viaje">
        <h2>Viajes</h2>
        <button class="boton_tipo_viaje" id="boton_ida_vuelta">Ida y vuelta</button>
        <button class="boton_tipo_viaje" id="boton_ida">Solo ida</button>
    </div>
    <form class="form-search">
        <div class="input-container">
            <label for="search_ciudad_origen">Ciudad de origen:</label>
            <input type="text" placeholder="Ingrese una ciudad..." class="ciudad_search" id="search_ciudad_origen">
        </div>
        <div class="input-container">
            <label for="search_ciudad_destino">Ciudad de destino:</label>
            <input type="text" placeholder="Ingrese una ciudad..." class="ciudad_search"
                id="search_ciudad_destino">
        </div>
        <div class="input-container">
            <label for="search_fecha_salida">Fecha de salida:</label>
            <input type="date" class="fecha_search" id="search_fecha_salida">
        </div>
        <div class="input-container">
            <label for="search_fecha_regreso">Fecha de regreso:</label>
            <input type="date" class="fecha_search" id="search_fecha_regreso">
        </div>
        <div class="input-container">
                <label for="search_cantidad_pasajeros">Pasajeros:</label>
                <div class="pasajeros-input">
                    <button type="button" class="num-pasajeros">-</button>
                    <input type="text" class="cantidad_pasajeros" id="search_cantidad_pasajeros" value="1" readonly>
                    <button type="button" class="num-pasajeros">+</button>
                </div>
        </div>
        <button class="boton_search" id="boton_search">BUSCAR</button>
    </form>
</div>