*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body__register{
    display:flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;  
    background-color: #938282; 
}

.main__register{
    display: flex;
    box-sizing: border-box;
    max-width: 60rem;
    height: 38.5rem;
    background-color: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.register_container{
    display: flex;
    width: 70%;
    font-size: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.25rem;
    text-align: center;
}

.register_container h2{
    color: #E77F84;
    font-family: 'Raleway', sans-serif;
    font-size: 1.8rem;
    margin-bottom: 1.8rem;
}
.register_container input[type="text"],
.register_container input[type="mail"],
.register_container input[type="password"]{
    
    background-color: #F3f3f3;
    border: black 1px solid;
    padding: 0.6rem;
    margin-bottom: 0.6rem;
    box-sizing: border-box;
    width: 70%;
}
.register_container input[type="date"],
.register_container select{
    width: 34%;
    padding: 0.5rem;
    border: black 1px solid;
    background-color: #F3f3f3;
    margin: 0 5px;
    box-sizing: border-box;
}

.register_container input.register_nacionalidad {
    width: 34%;
    padding: 10px;
    margin-left: 5px;
    box-sizing: border-box;
  }

  .container-pais-fecha{
    padding: 1%;
  }
.main_register_img{
    display: flex;
    position: relative;
    justify-content: center;
    width: 50%;
    box-sizing: border-box;
}
.img_signup{
    
    position: relative;
    width: 100%;
    height: 100%;
    filter:brightness(0.5);
    object-fit: cover;
}
.img_superposicion{
    position: absolute;
    display: flex;
    justify-content: center;
    top: 12.5rem;
}
.img_superposicion p{
    padding: 1.25rem;
    margin: 0 1.25rem;
    color: #FFFFFF;
    font-family: 'Raleway',sans-serif;
    text-align: center;
}
.img_logo_signup{
    position: absolute;
    width: 5rem;
    height: 5rem;
    bottom: 11.25rem;
}
.boton__register{

    width: 100%;
}
.boton_registrar{
    margin: 1rem 0;
    padding: 1rem;
    width: 70%;
    background-color: #E77F84;
    color: white;
    border: none;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    cursor: pointer;

}

.boton_registrar:hover{
    background-color: #b14449;
}

.boton_start{
    display: flex;
    font-family: 'Raleway', sans-serif;
    color: #302f2f;
    padding: 5px;
    margin-top: 5px;
}

.boton_iniciarsesion{
    font-size: small;
    background: none;
    border: none;
    font-weight: bold;
    margin-left: 5px;
    color: #302f2f;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
}