<body class="body__register">
    <main class="main__register">

        <div class="main_register_img">
            <img class="img_signup" id="img_signup" src="/assets/img/Rectangle 82.jpg" alt="img_signup">
            <div class="img_superposicion">
                <img class="img_logo_signup" id="img_logo_signup" src="/assets/img/logo.png" alt="img_logo_signup">
                <p>¡Bienvenido/a a nuestra agencia de viajes! ¡Es hora de que comiences tu próxima aventura! Regístrate ahora para acceder a todas las emocionantes oportunidades que tenemos preparadas para ti</p>
            </div>
        </div>


        <div class="register_container">
            <h2>EMPEZAR</h2>
            <form>
                <input type="text" placeholder="Nombre completo" class="register_nombre" id="register_nombre">
                <input type="text" placeholder="Apellido" class="register_data" id="register_apellido">
                <input type="text" placeholder="DNI" class="register_data" id="register_dni">

                <div class="container-pais-fecha">
                <select class="register_nacionalidad" id="register_nacionalidad">
                        <option value="">nacionalidad</option>
                </select>

                <input type="date" class="register_fecha" id="register_fecha">
            </div>

                <input type="text" placeholder="Telefono" class="register_data2" id="register_telefono">
                <input type="text" placeholder="Domicilio" class="register_data2" id="register_domicilio">
                <input type="mail" placeholder="E-mail" class="register_mail" id="register_mail">
                <input type="password" placeholder="Contraseña" class="register_contraseña" id="register_password">
            </form>
            <div class="boton__register" id="botones__register">
                <button class="boton_registrar" id="boton_registrar" >REGISTRAR CUENTA</button>
            </div>
            <div class="boton_start" id="boton_start">
                <!-- <p>¿Ya tienes una cuenta?</p> -->
                <!-- <button class="boton_iniciarsesion" id="boton_registrar">INICIAR SESION</button> -->
            </div>
        </div>
    </main>
</body>