<link rel="stylesheet" href="./components/footer/footer.css">

<div class="contenedor contenedor-footer ">

    <div class="mi-cuenta-footer">
        <h4>Mi cuenta</h4>
        <p>Mi perfil</p>
        <p>Tus beneficios</p>
    </div>

    <div class="ubicacion-footer">
        <h4>Ubicación</h4>
        <p>Av..Calchaqui 2013 Quilmes, Arg</p>
    </div>

    <div class="negocio-footer">
        <h4>Potenciá tu negocio</h4>
        <p>Suma tu flota</p>
    </div>

    <div class="ayuda-footer">
        <h4>Ayuda</h4>
    </div>

    <div class="redes-footer">
        <h4>Nuestras redes</h4>
        <div class="logos-redes">
            <a target=blank href="https://www.facebook.com"> <img class="logo-redes" src="/assets/img/baseline-facebook.svg" alt="Logo Facebook"></a>
            <a target=blank href="https://www.instagram.com"> <img  class="logo-redes" src="/assets/img/instagram.svg" alt="Logo Instagram"></a>
            <a target=blank href="https://web.whatsapp.com"> <img class="logo-redes" src="/assets/img/baseline-whatsapp.svg" alt="Logo WhatsApp"></a>
        </div>
    </div>

    <div class="atencion-footer">
        <h4>Canales de atención  </h4>
        <p>0800-800-91218(Todos los días, 24 hs)</p>
        <p>11-3109-1218</p>
        <a href="mailto:lautaroyanequine@gmail.com" target="_blank" rel="noopener"> <p>consultasalcc@lcc.com</p> </a>
    </div>

    <div class="nosotros-footer">
        <h4>Nosotros</h4>
        <p>Sobre LCC</p>
        <p>Trabajá con LCC</p>
    </div>
    <div class="compañias-footer">
        <h4>Compañias asociadas</h4>
        <p>Relaciones</p>
    </div>
</div>

<div class="footer-footer">
    <img class="imagen-footer" src="/assets/img/logo.png" alt="footer_logo">
    <p >Copyright © 2023 LCC . Agencia de Viajes | Todos los derechos reservados</p>			
</div>