.datos{
    margin-top: 300px;
    padding: 2%;
}

.datos h3{
    font-weight: bold;
    font-size: 20pt;
    color: white;
    background-color: var( --rosaPrimario);
    padding: 1%;
    border-radius: 20px 20px 0px 0px;
}

.container-all-data{
    background-color: var(--blanco);
    padding: 1%;
    border-radius:  0px 0px 5px 5px;
    box-shadow: 2px 8px 4px 0px rgba(0, 0, 0, 0.5);

}

.user-data-content{
    margin-bottom: 20px;
    border-radius: 5px;
}

.user-data-content p{
    margin: 4px;
    padding: 0.2%;
}

/* Estilos para el contenedor principal */
.user-data-content {
    display: flex; /* Usamos flexbox para alinear los divs internos */
    justify-content: space-between; /* Espacio entre los divs internos */
    background-color: #f0f0f0;
    padding: 10px;
  }
  
  /* Estilos para los divs internos */
  .user-data-content .data-basic,
  .user-data-content .data-contac {
    flex: 1;
  }
  
 
  .user-data-content .data-basic p,
  .user-data-content .data-contac p {
    margin: 0; 
  }
  

  .user-data-content .data-basic {
    text-align: left;
  }
  
  .user-data-content .data-contac {
    text-align: right;
  }

  

.tarjetas-user h4{
    font-size: 17pt;
}

.tarjeta{
    padding: 0.4%;
    margin: 10px;
    border-radius: 5px;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    background-color: #f0f0f0;
    padding: 10px;
    font-weight: bold;
    font-size: 13pt;
}

.tarjeta img{
    width: 80px;
}